# python
.mypy_cache/
__pycache__/

# excel
*.xlsx

# pycharm
.idea/

# no idea
*failure_[0-9][0-9][0-9].txt

# blend files? think these have all been removed
*.blend1
*.blend2

# testing
.coverage
htmlcov/

# envs
workenv/
venv/
venv6/
venv6 prompt-toolkit/
venv9/
venv10/

# profiles
profiles/
