# python
.mypy_cache/
__pycache__/

# excel
*.xlsx

# pycharm
.idea/

# no idea
*failure_[0-9][0-9][0-9].txt

# blend files? think these have all been removed
*.blend1
*.blend2

# testing
.coverage
htmlcov/

# envs
workenv/
venv/
venv11/

# profiles
profiles/
profile_output*

bot_players_logging
